<div class="panel panel-default" id="list">
  <% if @list.blank? %>
    <%= link_to "New To-do List", new_list_path, class: 'btn btn-success' %>
  <% else %>
    <div class="panel-heading">
      <div class="panel-title">
        <h2 class="list-name" id="list-name"><%= best_in_place @list, :name, inner_class: "bip-styling" %></h2>
      </div>
    </div>
    <div class="panel-body">
    <ul class="list-group">
      <%= render partial: 'tasks/task', collection: @list.tasks %>
    </ul>
      <div class="row" id="task-form-row">
        <div class="new-task">
          <%= render partial: 'tasks/form', list: @list, task: Task.new %>
        </div>
      </div>
    <% end %>
  </div>
</div>