<%= form_for [@list, @list.tasks.build], remote: true do |f| %>
  <div class="col-sm-10" id="task-text-area">
    <%= f.text_field :description, placeholder: "Enter Task", class: "form-control" %>
  </div>
  <div class="col-sm-2" id="task-btn">
    <%= f.submit class: "btn btn-success btn-sm"%>
  </div>
<% end %>