<li class="list-group-item" id="task-<%= task.id %>">
  <%= task.description %><span class="badge"><%= link_to "", task, method: :delete, class: 'glyphicon glyphicon-ok', remote: true %></span>
<span class="badge">Time left: <%= task.days_left %> days</span></li>