<% if @task.destroyed? %>
  $('#task-' +<%= @task.id %>).find('a').removeClass("glyphicon glyphicon-unchecked").addClass("glyphicon glyphicon-check");
  $('#task-' +<%= @task.id %>).fadeOut(function(){
    $('#task-' +<%= @task.id %>).remove();
  });
<% else %>
  $('#task-' +<%= @task.id %>).prepend("<div class='alert alert-danger'>There was an error deleting the task.</div>");
<% end %>