<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 well" id="list">
  <h1>About Blocitoff</h1>
  <h4>Blocitoff: A self-destructing to-do list application.</h2>
  <p> Keep your to-do lists clean with automatic removal of any task older than seven days.</p>

  <p>By Matthew Farley</p>
</div>