@import "bootstrap-sprockets";
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}
.list-name {
  margin-top: 50px;
  text-align: center;
}
.edit-delete-buttons {
  text-align: center;
  margin-top: 50px;
}
.actions {
  margin-top: 10px;
}